* {
  margin: 0%;
  padding: 0%;
}

.mr-auto {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  padding: 4%;
}

.text-input {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-left: 40px;
  padding: 1%;
}

.input-form {
  margin-left: 50px;
}

.input-label {
  width: 35%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 1em 0 0.8em;
  text-align: center;
  font-size: 18px;
  margin-left: 50px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  outline: none;
}

.input-label::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-label:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-label::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-label::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.btn-sub {
  all: unset;
  margin-top: 2.4em;
  background: transparent;
  border: 2px solid white;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btn-sub .span-sub {
  display: inline-block;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 2;
}

.btn-sub:before, .btn-sub:after {
  display: block;
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}

.btn-sub:before {
  height: 7px;
  width: 7px;
  background: transparent;
  border-right: 2px solid;
  border-top: 2px solid;
  right: 30px;
  top: 21px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-sub:after {
  background: white;
  height: 2px;
  width: 50px;
  left: 0;
  top: 1.49em;
  z-index: 1;
}

.btn-sub:hover .span-sub {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.btn-sub:hover:before {
  opacity: 1;
}

.btn-sub:hover:after {
  width: 14px;
  opacity: 1;
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
}

.txt-software {
  margin-left: 57px;
  width: 550px;
  font-family: "Crimson Text", serif;
}

.img-logo2 {
  float: right;
  display: block;
}

.display_style {
  display: block;
  color: #fcfcfc;
  position: relative;
}

.about-title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  margin-top: 20%;
  font-size: 24px;
}

.about-paragh {
  width: 600px;
  text-align: center;
  margin-left: 450px;
  margin-top: 15px;
  padding: 1%;
  font-family: "Crimson Text", serif;
}

.project-title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 29px;
  margin-top: 29px;
  margin-left: 20px;
}

.frist-img {
  width: 600px;
  margin-left: 30px;
  margin-top: 30px;
}

.project-description {
  width: 510px;
  margin-left: 40px;
}

.timenews {
  font-family: "Ubuntu Condensed", sans-serif;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 10px;
}

.cardDeck {
  margin-bottom: 40px;
  margin-top: 20px;
}

.bg {
  background-attachment: fixed;
  background-size: cover;
  position: static;
}

.linkgithub {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #222;
}

.ecommerce {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: none;
      grid-template-rows: none;
}

.btn-download {
  all: unset;
  margin-top: 3.4em;
  margin-left: 10px;
  background: transparent;
  border: 2px solid white;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  text-decoration: none;
}

.text-help {
  text-align: center;
  margin-top: 55px;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.short_descri_2 {
  width: 450px;
}

.Avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 42%;
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-transition-delay: 10s;
          transition-delay: 10s;
  -webkit-transition-duration: 10%;
          transition-duration: 10%;
  opacity: 50%;
}

.footer-txt {
  float: right;
  position: absolute;
  margin-top: 100px;
  left: 65%;
}

.footer_img {
  width: 900px;
  margin-top: 250px;
}

.video {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 135%;
  left: 50%;
  top: 60%;
  z-index: -1;
}

@media screen and (max-width: 680px) {
  .image_tool {
    display: none;
  }
  .about-paragh {
    margin: 0%;
    width: 100%;
  }
  .txt-software {
    width: 95%;
    margin-left: 10px;
  }
  .footer_img {
    display: none;
  }
  .footer-txt {
    position: relative;
    float: left;
    margin-top: 0%;
    left: 10%;
  }
  .btn-sub {
    margin-left: 70px;
  }
  .input-label {
    width: 300px;
    margin-left: 29px;
  }
  .btn-download {
    margin-top: 20px;
    margin-left: 55px;
  }
  .text_copyright {
    display: none;
  }
  .short_descri_2 {
    width: 300px;
  }
  .footer_title {
    margin-top: 20px;
    margin-left: 20px;
  }
  .footer_title1 {
    margin-left: 20px;
  }
  .Avatar {
    margin-left: 80px;
  }
  .video {
    position: absolute;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 115%;
    left: 50%;
    top: 50%;
    z-index: -1;
  }
  .copyright_title {
    position: absolute;
    top: 465%;
    margin-bottom: 20px;
    left: 60px;
  }
}
/*# sourceMappingURL=style.css.map */